/* main */

h2 {
  color: #cce0ff; /* light blue */
  padding-left: 25px;
}

body {
  background: #262626; /* dark grey */
  font-family: verdana;
  margin: 0px;
  padding: 0px;
}

/* /main */

/* table */

#topData {
  padding-right: 17px;
}
#mainData {
  height: 350px;
  overflow: scroll;
  overflow-x: hidden;
}
#categories_toptable, #categories_datatable {
  border-collapse: collapse;
  /*font-size: 1vw;*/
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
}
#categories_toptable th, #categories_datatable td {
  padding: 4px;
  text-align: left;
}
#categories_toptable {
  color: #cce0ff; /* light blue */
  cursor: pointer;
}
#categories_datatable {
  background-color: #808080; /* grey */
  color: #fff; /* white */
}
#categories_datatable tr:nth-child(odd){
  background-color: #404040; /* dark grey */
}
#categories_datatable tr:hover{
  background-color: #fff; /* white */
  color: #0000FF; /* blue */
  cursor: pointer;
}
.dtable_border {
  border-right: 1px solid #cce0ff; /* light blue */
}
#bottomData {
  color: #fff; /* white */
  font-size: 12px;
  margin-left: 20px;
}
#search_records {
  overflow: hidden;
}
#search_input {
  background-image: url("../img/categoriesSearch.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border: 1px solid #ddd;
  font-size: 16px;
  margin-bottom: 12px;
  padding: 12px 20px 12px 40px; /* top right bottom left */
  width: 100%;
}
.gameCover {
  height: 25%;
}
.gameCover:hover {
  height: 100%;
}

/* /table */

/* form modal */

.modal_edit {
  background-color: rgb(204, 204, 204); /* light grey */
  background-color: rgba(204, 204, 204, 0.4); /* light grey w/ opacity */
  color: #fff; /* white */
  display: none; /* Hidden by default */
  height: 100%; /* Full height */
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  padding-top: 30px;
  position: fixed; /* Stay in place */
  top: 0;
  width: 100%; /* Full width */
  z-index: 1; /* Sit on top */
}
.closemodal {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 35px;
  top: 15px;
}
.closemodal:hover, .closemodal:focus {
  color: #ff6666; /* light red */
  cursor: pointer;
}
.modal-content {
  background-color: #262626; /* dark grey */
  border: 1px solid #888; /* grey */
  margin: 1% auto 15% auto; /* 1% from the top, 15% from the bottom and centered */
  max-width: 759px;
  min-width: 540px;
  width: 95%; /* Could be more or less, depending on screen size */
}
.modalcontainer {
  padding: 16px;
}
.div_float_left {
  float: left;
}

/* /form modal */

/* other */

#goBack {
  color: #fff; /* white */
  display: none;
  text-decoration: underline;
  float: right;
}
#goBack:hover {
  color: #cce0ff; /* light blue */
}

/* /other */
